@model CreateSaleViewModel

<tfoot>
<tr>
	@using (Html.BeginForm("Create", "Sale", Model, FormMethod.Post))
	{
		<th>+</th>
		<td>@Html.EditorFor(model => model.Sale.Discount)</td>
		<td>@Html.ListBoxFor(model => model.SelectedCandy, new MultiSelectList(Model.AllCandy, "CandyID", "Name"))</td>
		<td>@Html.EditorFor(model => model.Sale.StartDate)</td>
		<td>@Html.EditorFor(model => model.Sale.EndDate)</td>
		<td>
			<input type="submit" value="Create"/>
		</td>
	}
</tr>
</tfoot>