@using CandyStore.ViewModels
@model CandyListViewModel

<form method="post" asp-action="AddToStockResult" asp-controller="Stock">
    <div class="border p-3 m-4">
        

        <h2 class="text-primary text-center ">Restock</h2>

        <div class="mb-3">
            <label>Count</label>
            <input asp-for="@Model.Stock.StockCount" type="number" class="form-control" required = "required"/>
            <select asp-for="Stock.CandyID" hidden>
                <option value="@Model.Stock.CandyID">@Model.Stock.Name</option>
            </select>
            
            
        </div>
        
        <button type="submit" class="btn btn-primary" style="width:150px">Add</button>
        <a asp-controller="Stock" asp-action="Index" class="btn btn-secondary" style="width:150px">Return</a>
    </div>
</form>

