@model IEnumerable<Candy>


<div class="container p-3">
    <h1 class="text-center">Candy Stock</h1>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                In Stock
            </th>
        </tr>


    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @item.Name
                </td>
                <td>
                    @item.StockCount
                </td>
                
                <td class="text-center">
                    <div class="w-75 btn-group justify-content-center" role="group">
                        <a asp-controller="Stock" asp-action="AddToStock" asp-route-id="@item.CandyID" class="btn btn-primary mx-2">Add to stock</a>
                        
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
